html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  outline: 0;
}

@font-face{
  font-family: "Source Han Sans OLD";
  src: url("./fonts/SiYuanHeiTiJiuZiXing-Regular-2.ttf");
}

@font-face{
  font-family: "LXGW WenKai";
  src: url("./fonts/LXGWWenKai-Regular.ttf");
}

.default-theme {
  --color-background: #23a0ff;
  --color-primary: #1a8ae0;
}
.affection-theme {
  --color-background: #ff2391;
  --color-primary: #e0197d;
}
.default-theme #like-affection {
  display: none;
}
.affection-theme #like-default {
  display: none;
}
.root {
  display: flex;
  height: 100%;
}
.cover {
  width: calc(100% - 450px);
  background-color: var(--color-background);
  transition: all ease-in-out 0.2s;
  position: relative;
}
.cover > .banner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  transition: all ease-in-out 0.2s;
}

.title {
  position: absolute;
  top: 65%;
  left: 100px;
}
.title h1 {
  color: #fff;
  font-size: 3.5rem;
  font-family: "Source Han Sans OLD", sans-serif;
  margin: 0;
  line-height: 1.3em;
}
.title h2 {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Source Han Sans OLD", sans-serif;
  margin: 0;
  line-height: 1.3em;
}
.title h2:before {
  content: "> ";
  font-size: 1.5rem;
  font-family: "Source Han Sans OLD", sans-serif;
}
.content {
  font-family: "LXGW WenKai", sans-serif;
  font-size: 1.75rem;
  color: #333;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.content ul {
  margin-left: 20px;
  margin-top: 30%;
}
.content ul li {
  list-style: none;
  line-height: 2em;
}
.content a {
  text-decoration: none;
  color: var(--color-primary);
}
.icp {
  position: fixed;
  bottom: 1em;
  left: calc(100% - 450px);
  width: 450px;
  display: flex;
  justify-content: center;
  z-index: 3;
}
.icp a {
  color: #000;
  text-decoration: none;
  font-family: "LXGW WenKai", sans-serif;
  font-size: 1.2rem;
}
@media screen and (max-width: 950px) {
  .root {
    flex-direction: column;
  }
  .cover {
    width: 100%;
    height: calc(100% - 284px);
  }
  .title {
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
  }
  .title h1 {
    font-size: 3rem;
  }
  .title h2 {
    font-size: 1.25rem;
  }
  .content {
    font-size: 1.75rem;
  }
  .content ul {
    margin-top: 2rem;
    margin-left: 0;
    padding-left: 2rem;
  }
  .icp {
    width: 100%;
    height: 2em;
    top: 0.5em;
    left: 0em;
  }
  .icp a {
    color: #fff;
  }
}
